{% extends "blog/base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h3>Hi, {{ request.user.username }}</h3>
        </div>
        <div class="col d-flex justify-content-end">
            <div>
                <h2>Your Groups:</h2>
                <ul>
                    {% for group in user.groups.all %}
                    <li>{{group.name}}</li>
                    {% empty %}
                    <li>You are not a member of any groups.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-6">
                {% include "blog/includes/errors.html"%}
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="mt-3">{{ blog_title }}</h2>
        {% if perms.blog.add_post %}
        <div class="d-flex justify-content-center">
            <a href="{% url 'blog:new_post' %}" class="btn btn-success">New Post</a>
        </div>
        {% endif %}
    </div>
    <div class="row m-3">
        {% if page_object %}
            {% for post in page_object %}
            <div class="col-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img style="height:300; width:300;" src="{{ post.formatted_image_url }}" class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <p class="card-text">{{ post.content|truncatechars:50 }}</p>
                                <div class="d-flex justify-content-between">
                                    <a href="{% url 'blog:detail' slug=post.slug %}">Read More</a>
                                    <a class="text-decoration-none text-dark fw-bold" href="#">{{ post.category.name }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                            {% if perms.blog.change_post%}
                            <a class="btn btn-info btn-sm text-light" href="{% url 'blog:edit_post' post_id=post.id%}">Edit Post</a>
                            {% endif %}
                            {% if perms.blog.delete_post%}
                            <form method="post" action="{% url 'blog:delete_post' post_id=post.id %}" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm text-light" onclick="confirmBeforeDelete(`{% url 'blog:delete_post' post_id=post.id%}`)">Delete Post</button>
                            </form>
                            {% endif %}
                            {% if not post.is_published and perms.blog.can_publish %}
                                
                            <a class="btn btn-success btn-sm text-light" href="{% url 'blog:publish_post' post_id=post.id%}">Publish Post</a>
                            {% endif %}
                            <label class="text-danger">Not Published</label>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No Posts available</p>
        {% endif %}

        <!-- Pagination Section -->
        <div class="col-12 my-3">
            {% if page_object.has_other_pages %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_object.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo; first</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_object.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">previous</span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="page-item"><span class="page-link">Page {{ page_object.number }} of {{ page_object.paginator.num_pages }}</span></li>
                    {% if page_object.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_object.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">next</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_object.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">last &raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</div>


<script>
    function confirmBeforeDelete(url){
        var userConfirmed = confirm("Are you sure to Delete ?")
        if (userConfirmed){
            window.location.href = url
        }
    }

</script>   

{% endblock %}
